@font-face {
  font-family: "SanFranciscoReg";
  src: url(../assets/fonts/SFProText-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SanFranciscoL";
  src: url(../assets/fonts/SFProText-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --textColor: #e2e2e2;
  --fontFamily: "SanFranciscoL";
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  backdrop-filter: blur(10px) grayscale(2);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
}
h1 {
  text-align: center;
}
.player {
  display: flex;
  flex-direction: column;
  height: 382pt;
  width: 214pt;
  margin: 0 auto;
  padding: 22px;
  border-radius: 22px;
  overflow: hidden;
  opacity: 0.8;
  background: #2f2e2c;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.45);
}
.poster {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}
.poster:hover {
  filter: saturate(2);
}
.track-info {
  padding-top: 20px;
}
.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  position: relative;
}
.progress {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: height 0.3s;
  cursor: pointer;
}
.time {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 6px;
}
.time p {
  margin: 0px;
}
.currentTime {
  width: 10%;
  height: auto;
}
.duration {
  width: 10%;
  height: auto;
}
.btn {
  border: none;
  cursor: pointer;
}
.play {
  background: url(../assets/img/playIp.svg);
  border: 5px solid #ffffff00;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 48px;
  height: 58px;
}
.pause {
  background: url(../assets/img/pauseIp.svg);
  border: 5px solid #ffffff00;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 48px;
  height: 58px;
}
.next {
  background: url(../assets/img/playIp.svg);
  background-repeat: repeat;
  background-size: 50% 100%;
  width: 39px;
  height: 21px;
}
.prev {
  background: url(../assets/img/playIp.svg);
  background-repeat: repeat;
  transform: rotate(180deg);
  background-size: 50% 100%;
  width: 39px;
  height: 21px;
}
.sound-bar {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 14px;
}
.sound {
  background: url(../assets/img/volume.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.sound:hover ~ .volume,
.mute:hover ~ .volume {
  display: block;
  opacity: 1;
}

.mute {
  background: url(../assets/img/mute.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.shuffle {
  background: url(../assets/img/shuffle.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.artist {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  animation-delay: 2s;
  display: inline-block;
  overflow: hidden;
}

.song {
  font-size: 14px;
  font-family: "SanFranciscoL";
  opacity: 0.7;
}
footer {
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  -webkit-text-stroke: 0.4px black;
}
.github,
.course {
  width: 3em;
  height: 3em;
  margin: 12px;
}

input[type="range"] {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 9px;
  opacity: 0.7;
  margin: auto 0;
  -webkit-appearance: none;
  background-color: #544e4c;
  border-radius: 15px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 9px;
  cursor: pointer;
  -webkit-appearance: none;
  color: #bcbabd;
}

input[type="range"]::-webkit-slider-thumb {
  width: 0px;
  cursor: pointer;
  -webkit-appearance: none;
  height: 0px;
  cursor: ew-resize;
  box-shadow: -150px 0 0 150px #ffffff;
}

input[type="range"]::-moz-range-progress {
  background-color: #bcbabd;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background-color: #9a905d;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background-color: #bcbabd;
  cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
  cursor: pointer;
}
input[type="range"]:hover {
  opacity: 1;
}
