/* переменные */
:root {
  --textColor: #e2e2e2;
  --color1: #ff8bb6;
  --color2: #ffcf7d;
  --color3: #340f15;
  --color4: #7d7576;
  --fontFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* основные стили */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--fontFamily);
  background-color: var(--color3);
  color: var(--textColor);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.player {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color1);
  border-radius: 10px;
}
.video {
  width: 100%;
  border-radius: 8px;
}
.btn {
  width: 52px;
  height: 52px;
  border-radius: 10px;
}
.play {
  background: url(../assets/svg/play.svg);
}
.pause {
  background: url(../assets/svg/pause.svg);
}
.playback {
  background: url(../assets/svg/playback.svg);
}
.playForward {
  background: url(../assets/svg/playforward.svg);
}
.fullscreen {
  background: url(../assets/svg/fullscreen.svg);
}
.control {
  display: flex;
  justify-content: space-between;
}
footer {
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
