/* переменные */
:root {
  --textColor: #e2e2e2;
  --color1: #ff8bb6;
  --color2: #ffcf7d;
  --color3: #340f15;
  --color4: #7d7576;
  --fontFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* основные стили */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--fontFamily);
  background-color: var(--color3);
  color: var(--textColor);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.player {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color2);
  border-radius: 10px;
}
.video {
  width: 100%;
  border-radius: 8px;
}
.btn {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.play {
  background: url(../assets/svg/play.svg);
  background-repeat: no-repeat;
}
.pause {
  background: url(../assets/svg/pause.svg);
  background-repeat: no-repeat;
}
.playback {
  background: url(../assets/svg/playback.svg);
  background-repeat: no-repeat;
}
.playForward {
  background: url(../assets/svg/playforward.svg);
  background-repeat: no-repeat;
}
.fullscreen {
  background: url(../assets/svg/fullscreen.svg);
  background-repeat: no-repeat;
}
.control {
  display: flex;
  justify-content: space-between;
}
input[type="range"] {
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  margin: auto 15px;
  height: 15px;
  border: 2px solid var(--color3);
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--color2);
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  background: var(--color1);
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow: -100px 0 0 100px var(--color3);
}

input[type="range"]::-moz-range-track {
  background-color: var(--color2);
  border-radius: 8px;
}

input[type="range"]::-moz-range-thumb {
  background: var(--color1);
  cursor: pointer;
  border-radius: 0px;
  box-shadow: -100px 0px 0px 100px var(--color3);
  padding: 0px;
  margin: 0px;
}
footer {
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.github,
.course {
  width: 52px;
  height: 52px;
  /* transform: color 0.5s ease; */
}
/* .github:hover,
.course:hover {
  color: #ff8bb6;
} */
