.container-about {
  background-color: var(--color-light-xl);
  padding: 60px 40px 95px 40px;
}
.cont-about-content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 500px 550px;
  gap: 95px;
}
.cont-about-content img {
  padding: 0 175px 0 175px;
}
.cont-about-text {
  width: 430px;
  height: 380px;
  margin: 14px 0;
}
.container-about h3 {
  color: var(--color-dark-l);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight);
  width: 370px;
  height: 90px;
  margin: 0;
  line-height: 45px;
  letter-spacing: 3px;
}

.container-about p {
  color: var(--color-dark-xl);
  font-family: var(--font-family-h6-p-ul);
  font-size: var(--font-size-p-ul);
  font-weight: var(--font-weight);
  line-height: 24px;
  margin: 25px 0px;
}
