.container-in-addition {
  height: 463px;
  background-color: var(--color-light-l);
}
.wrapper-in-add {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.cont-in-add-content {
  display: grid;
  gap: 30px;
  max-width: 915px;
  grid-template-columns: repeat(2, 1fr);
  padding: 45px 180px;
}
.cont-in-add-content-img {
  width: 505px;
  height: 261px;
  display: grid;
  margin: 45px 0 10px 2px;
}
.cont-in-add-content-img img {
  align-self: center;
}
.cont-in-add-content-text {
  display: grid;
}
.cont-in-add-content-text h3 {
  color: var(--color-dark-l);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight);
  line-height: 130%;
  margin: 35px 0 0 0;
  width: 300px;
  height: 90px;
  letter-spacing: 0.11em;
}
.card-number {
  background-color: var(--color-primary);
  border-radius: 9px;
  margin: 20px 0 10px 0;
  width: 353px;
  height: 43px;
}
.card-number:hover {
  background-color: var(--color-primary-light);
  border: var(--color-primary-light);
  transition: all 1s ease-in-out;
}
.card-number img {
  margin: 0 15px 0 0;
}
.card-number h4 {
  color: var(--color-dark-l);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight);
  font-family: var(--font-family-h4);
  margin: 0;
  padding: 10px 15px 10px 15px;
  display: flex;
  letter-spacing: 1.3px;
}
.card-number h4 a {
  color: var(--color-dark-l);
  width: 319px;
}

.cont-in-add-content-text h5 {
  color: var(--color-dark-l);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight);
  line-height: 110%;
  width: 308px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 0;
  letter-spacing: 0.07em;
}
.cont-in-add-content-text p {
  color: var(--color-dark-m);
  font-size: 12px;
  font-weight: var(--font-weight);
  font-style: italic;
  font-family: var(--font-family-h6-p-ul);
  line-height: 18px;
  width: 380px;
  height: 72px;
}
