.container-in-addition {
  height: 455px;
  background-color: var(--color-light-l);
}
.wrapper-in-add {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.cont-in-add-content {
  display: grid;
  gap: 30px;
  max-width: 915px;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 180px;
}
.cont-in-add-content-img {
  max-width: 505px;
  display: grid;
  margin: 30px 0 10px 2px;
}
.cont-in-add-content-img img {
  align-self: center;
}
.cont-in-add-content-text {
  display: grid;
}
.cont-in-add-content-text h3 {
  color: var(--color-dark-l);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight);
  line-height: 130%;
  margin: 35px 0 0 0;
  max-width: 300px;
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
}
.card-number {
  background-color: var(--color-primary);
  border-radius: 9px;
  margin: 20px 0 10px 0;
  max-width: 353px;
}
.card-number:hover {
  background-color: var(--color-primary-light);
  border: var(--color-primary-light);
  transition: all 1s ease-in-out;
}
.card-number img {
  margin: 0 15px 0 0;
}
.card-number h4 {
  color: var(--color-dark-l);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight);
  font-family: var(--font-family-h4);
  margin: 0;
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
.card-number h4 a {
  color: var(--color-dark-l);
}

.cont-in-add-content-text h5 {
  color: var(--color-dark-l);
  font-size: 15px;
  font-weight: var(--font-weight);
  line-height: 110%;
  margin: 18px 0 0 0;
  font-family: var(--font-family-h5);
  letter-spacing: 0.06em;
}
.cont-in-add-content-text p {
  color: var(--color-dark-m);
  font-size: 12px;
  font-weight: var(--font-weight);
  font-style: italic;
  font-family: var(--font-family-h6-p-ul);
  line-height: 18px;
}

@media screen and (max-width: 1080px) {
  .container-in-addition {
    height: auto;
    padding-bottom: 60px;
  }
  .cont-in-add-content {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 55px;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 769px) {
  .container-in-addition {
    height: auto;
    padding-bottom: 60px;
  }
  .cont-in-add-content {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 55px;
    justify-content: center;
    align-items: center;
    max-width: 380px;
  }
  .cont-in-add-content-img {
    justify-content: center;
    margin-top: 18px;
  }
  .cont-in-add-content-text h3 {
    margin-top: 20px;
  }
  .cont-in-add-content-text h5 {
    margin-top: 20px;
  }

  .card-number {
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 550px) {
  .cont-in-add-content-img img {
    height: 135.2px;
  }
}
@media screen and (max-width: 400px) {
  .container-in-addition {
    padding-bottom: 40px;
  }
  .cont-in-add-content-text h3 {
    font-size: 25px;
    text-align: center;
    max-width: 220px;
    margin-top: 27px;
  }
  .cont-in-add-content-text h5 {
    letter-spacing: normal;
    margin-top: 23px;
  }
  .cont-in-add-content-img img {
    height: 135.2px;
  }
  .cont-in-add-content-img {
    padding: 0;
    margin: 0 0 0 0;
    max-width: 320px;
  }
  .cont-in-add-content-text p {
    max-width: 280px;
    margin-top: 9px;
    text-align: justify;
  }
  .card-number h4 {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .card-number {
    max-width: 281px;
    margin: 25px 0 10px 0;
  }
  .cont-in-add-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  .cont-in-add-content {
    padding: 15px 0 0 0;
  }
}
