footer {
  height: 350px;
  background-image: url("../img/footer-gradient-background.png");
}

.footer-cont {
  padding: 40px 40px 0px 40px;
  display: grid;
  gap: 160px;
  grid-template-columns: 278px 302px 300px;
}

.footer-cont h3 {
  font-weight: var(--font-weight);
  font-size: var(--font-size-h3);
  line-height: 45.5px;
  color: var(--color-light-xl);
  letter-spacing: 3.6px;
}

.footer-cont h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight);
  line-height: 23px;
  margin: 0 0 20px 0;
  padding: 0;
  letter-spacing: 1.8px;
}
.footer-cont a {
  color: var(--color-primary);
  height: 23px;
}

.contacts h4 {
  display: grid;
  grid-template-columns: 40px 191px;
  gap: 20px;
  margin-bottom: 40px;
  align-items: center;
}
.contacts h3 {
  margin: 16px 0 40px 0;
}
.adresses h4 {
  display: grid;
  grid-template-columns: 20px 260px;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.adresses h3 {
  margin: 16px 0 35px 0;
}
