.container-fb {
  background: url("../img/background-header.png"),
    radial-gradient(70% 150% at 0% 0%, #5b483a 0%, #262425 100%);
}
.wrapper-fb {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.container-logo h1 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
  font-size: var(--font-size-h1);
  line-height: 110%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
}
.container-logo h6 {
  color: var(--color-light-xl);
  font-family: var(--font-family-h6-p-ul);
  font-weight: var(--font-weight);
  font-size: var(--font-size-h6);
  line-height: 14.95px;
  padding: 10px 5px;
  margin: 0;
  letter-spacing: 0.09em;
}
.nav-links {
  font-family: var(--font-family-h6-p-ul);
  font-size: var(--font-size-p-ul);
  font-weight: var(--font-weight);
  line-height: 24px;
  max-width: 443px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 35px;
}
header h1 a {
  color: var(--color-primary);
  transition: all 0.5s ease-in-out;
}
header h1 a:hover {
  font-size: 35px;
}
.nav-links a {
  color: var(--color-dark-s);
  height: 27px;
  transition: font-size 0.5s ease-in-out;
}
.nav-links a:hover {
  font-size: 14px;
}
.active {
  cursor: default;
  color: var(--color-light-s);
  border-bottom: solid 3px #f1cdb3;
  box-sizing: border-box;
  transform: none;
}

.burger-menu {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-self: center;
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.burger-menu.open {
  transform: rotate(90deg) translate(5px, 5px);
  transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.burger-line {
  display: none;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 0.4s ease-in-out;
}
body.menu-open {
  overflow: hidden;
}

/* pets */
.wrapper-header.pets-page {
  max-width: 1280px;
  margin: 0 auto;
}
.header.pets-page {
  justify-content: space-between;
  display: flex;
}
.pets-page a {
  color: var(--color-dark-l);
  transition: font-size 0.5s ease-in-out;
}
.pets-page h1 a {
  color: var(--color-dark-l);
}

.pets-page h1:hover {
  /* color: var(--color-dark-xxl); */
  transition: all 0.5s ease-in-out;
  font-size: 35px;
}
.pets-page h6 {
  color: var(--color-dark-xxl);
  font-family: var(--font-family-h6-p-ul);
  font-weight: var(--font-weight);
  font-size: var(--font-size-h6);
  line-height: 14.95px;
  padding: 10px 5px;
  margin: 0;
  letter-spacing: 0.09em;
}
.pets-page .active {
  height: 27px;
  cursor: default;
  color: var(--color-dark-xxl);
  border-bottom: solid 3px #f1cdb3;
  box-sizing: border-box;
}
.burger-line.dark {
  background-color: var(--color-dark-3xl);
  transition: background-color 0.5s cubic-bezier(0, 0, 0.98, 0.39);
}
.adaptive.open.light {
  background-color: var(--color-dark-s);
  opacity: 0.6;
}
.nav-link.link .light {
  color: var(--color-dark-l);
}

@media screen and (max-width: 779.9px) {
  .header {
    padding: 30px;
    gap: 0;
  }

  .wrapper-fb {
    width: 100%;
    max-height: 1165px;
    margin: 0 auto;
  }
  .pets-page {
    padding: 30px -1px;
  }
}
@media screen and (max-width: 767.9px) {
  nav {
    display: none;
  }
  .pets-page .active {
    color: var(--color-light-s);
  }
  .burger-line.dark + .burger-menu.open {
    background-color: var(--color-primary);
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 158px;
  }
  .nav-links a {
    color: var(--color-dark-s);
  }
  .nav-links a,
  .active {
    font-size: var(--font-size-h1);
  }
  .active {
    color: var(--color-light-s);
  }
  .burger-line {
    display: flex;
    background-color: var(--color-primary);
  }
  .burger-menu {
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .adaptive {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-3xl);
    transition: all 0.4s ease-in-out 0.2s;
  }
  .adaptive.open {
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 2;
    background-color: var(--color-dark-3xl);
    transition: all 0.4s ease-in-out 0.2s;
  }
  .overlay {
    height: 100vh;
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .overlay.show {
    display: block;
    opacity: 1;
  }
}
@media screen and (max-width: 321px) {
  .header {
    display: flex;
    justify-content: space-between;
    gap: 66px;
    width: 100%;
    padding: 30px 17px;
    max-width: 283px;
  }
  nav {
    display: none;
  }
}
