.container-help {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper-help {
  background-color: var(--color-light-xl);
  padding: 85px 40px 80px 40px;
  /* height: 450px; */
  text-align: center;
}
.cont-help-content {
  width: 100%;
}

.container-help h3 {
  color: var(--color-dark-l);
  font-weight: var(--font-weight);
  font-size: var(--font-size-h3);
  line-height: 130%;
  margin: 0 auto;
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
}
.container-help h4 {
  font-weight: var(--font-weight);
  font-size: var(--font-size-h4);
  line-height: 115%;
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
}
.container-help-items {
  margin: 58px 87px 0px 87px;
  color: var(--color-dark-l);
  max-width: 1028px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px 119px;
}
.cont-help-line1 {
  display: grid;
  margin: 0;
  grid-template-columns: 83px 150px 60px 154px 101px;
  gap: 120px;
}
.cont-help-line2 {
  display: grid;
  gap: 120px;
  grid-template-columns: 84px 101px 166px 144px;
  padding: 0 84px;
}

@media screen and (width<769px) {
  .wrapper-help {
    padding-top: 170px;
  }
  .container-help {
    display: flex;
    flex-direction: column;
  }
  .cont-help-line1 {
    display: flex;
    justify-content: space-between;
  }
  .container-help-items {
    margin: 0 auto;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (width<321px) {
  .container-help h3 {
    font-size: 25px;
  }
  .container-help h4 {
    font-size: 15px;
  }
  .wrapper-help {
    padding-top: 85px;
  }
  .container-help-items {
    /* margin: 0 auto;
    padding-top: 60px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
