.container-not-only {
  display: grid;
  grid-template-columns: 500px 700px;
  margin: 60px 40px 20px 40px;
}
.cont-not-only-content {
  max-width: 36wv;
  padding-top: 125px;
  height: auto;
}
.container-not-only h2 {
  color: var(--color-light-xl);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight);
  line-height: 130%;
  font-family: var(--font-family-h3);
}

.container-not-only p {
  color: var(--color-dark-s);
  font-family: var(--font-family-h6-p-ul);
  font-weight: var(--font-weight);
  font-size: var(--font-size-p-ul);
  line-height: 24px;
  padding-top: 5px;
}
.button-pets {
  background-color: var(--color-primary);
  border-radius: 100px;
  width: 207px;
  height: 50px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-pets a {
  width: 118px;
  height: 22px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-size: 17px;
  font-family: var(--font-family-h1);
  color: var(--color-dark-xl);
  font-weight: var(--font-weight);
}
.button-pets:hover {
  background-color: var(--color-primary-light);
  border: var(--color-primary-light);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1240px) {
  .container-not-only img {
    height: auto;
    width: 100%;
    max-width: 569px;
    margin-left: 140px;
  }
  .container-not-only {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .cont-not-only-content {
    text-align: center;
  }
  .button-pets {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 769px) {
  .container-not-only h2 {
    margin-top: 30px;
  }
  .cont-not-only-content {
    text-align: left;
    padding: 0;
    max-width: 460px;
    width: 100%;
  }

  .container-not-only {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .cont-not-only-content p {
    margin: 42px auto;
    padding: 0;
  }
  .container-not-only img {
    height: auto;
    width: 100%;
    max-width: 569px;
    margin-left: 140px;
  }
  .button-pets {
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .container-not-only img {
    margin-left: auto;
  }
}
@media screen and (max-width: 550px) {
  .container-not-only img {
    width: 260px;
    margin: 8px auto 0 auto;
    align-items: center;
  }
}
@media screen and (max-width: 321px) {
  .container-not-only {
    align-items: center;
  }
  .container-not-only h2 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .container-not-only p {
    text-align: center;
    max-width: 300px;
  }

  .container-not-only img {
    width: 260px;
    margin: 8px 10px 0 auto;
    align-items: center;
  }
  .button-pets {
    margin-top: 40px;
  }
}
