#pets {
  background-color: var(--color-light-l);
}

.wrapper-pets {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.container-our-friends {
  padding: 45px 45px 95px 45px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.container-our-friends h3 {
  color: var(--color-dark-l);
  font-weight: var(--font-weight);
  font-size: var(--font-size-h3);
  line-height: 130%;
  text-align: center;
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
}
.button-pets2 {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 0;
  width: 261px;
  height: 50px;
  background-color: var(--color-primary);
  cursor: pointer;
  margin: 35px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-pets2:hover {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  transition: all 0.5s ease-in-out;
}

.button-pets2 a {
  color: var(--color-dark-xl);
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
  font-weight: var(--font-weight);
  font-size: 17px;
  line-height: 130%;
  width: 175px;
  height: 22px;
}
.arrow {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  width: 52px;
  height: 52px;
  cursor: pointer;
  margin: auto 0px;
  box-sizing: border-box;
}
.arrow:hover {
  background-color: var(--color-primary);
  transition: all 0.5s ease-in-out;
}
.arrow img {
  margin: 20px 0;
}
.container-cards {
  color: var(--color-dark-l);
  display: flex;
  font-weight: var(--font-weight);
  font-size: 20px;
  line-height: 22.72px;
  border-radius: 9px;
  text-align: center;
  justify-content: space-between;
  gap: 53px;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  padding: auto;
}
.container-cards button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  width: 191x;
  height: 52px;
  font-size: 17px;
  font-family: var(--font-family-h3);
  letter-spacing: 0.06em;
  background-color: var(--color-light-s);
  font-weight: var(--font-weight);
  margin: 0px auto;
  cursor: pointer;
}
.card {
  background-color: var(--color-light-s);
  width: 100%;
  height: 435px;
  border-radius: 9px;
  margin: auto;
}
.card p {
  font-family: var(--font-family-h5);
  letter-spacing: 0.06em;
  margin: 25px auto 30px auto;
}

.card:hover {
  cursor: pointer;
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.5s ease-in-out;
}

.card:hover button {
  background: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 769px) {
  .container-our-friends {
    margin: 0;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .container-cards {
    margin: 0;

    gap: 0px;
    /* min-width: 708px; */
    width: 100%;
  }

  .cards {
    gap: 40px;
    padding: 0 10px;
  }
  .card:last-child {
    display: none;
  }
  .arrow {
    margin: auto 20px auto 0px;
  }
  .arrow:first-child {
    margin: auto 0 auto 20px;
  }
}

@media screen and (max-width: 321px) {
  .container-our-friends h3 {
    font-size: 25px;
    margin: 0 auto;
  }
  .card:nth-child(2),
  .card:last-child {
    display: none;
  }

  .arrow {
    display: none;
  }
  .container-our-friends {
    padding: 40px 0 0 0;
  }
  .cards {
    padding: 15px 25px;
  }
  .button-pets2 {
    margin-top: 75px;
  }
}
