/* переменные  */
:root {
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
}
/* стили */
body {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a,
a:active,
a:hover,
a:-webkit-any-link {
  text-decoration: none;
}
button,
button:active,
button:hover {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style-type: none;
}

/* header */
.container-fb {
  background-image: url("/shelter/img/start-screen-gradient-background.jpg");
}
header {
  max-width: 1200px;
  padding: 30px 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.container-logo h1 {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 6%;
  padding: 0;
  margin: 0;
}
.container-logo h6 {
  color: var(--color-light-xl);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 10%;
  padding: 0;
  margin: 0;
}

.container-logo {
  max-width: 184px;
  height: 60px;
}
ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
/* not-only */

.container-not-only {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 40px;
}
.cont-not-only-content {
  max-width: 460px;
  padding-top: 125px;
  height: auto;
}
.container-not-only h2 {
  color: var(--color-light-xl);
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
}

.container-not-only p {
  color: var(--color-dark-s);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-top: 5px;
}
.container-not-only button {
  color: var(--color-dark-xl);
  background-color: var(--color-primary);
  padding: 15px 45px;
  border-radius: 100px;
  gap: 10px;
  width: 207px;
  height: 52px;
  font-size: 15px;
  line-height: 22.1px;
  letter-spacing: 6%;
  margin-top: 26px;
}

/* about */
.container-about {
  background-color: var(--color-light-xl);
  padding: 60px 40px 95px 40px;
}
.cont-about-content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 500px 550px;
  gap: 100px;
}
.cont-about-content img {
  padding: 0 165px 0 175px;
}
.cont-about-text {
  width: 430px;
  height: 380px;
}
.container-about h3 {
  color: var(--color-dark-l);
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  margin: 10px 0;
}

.container-about p {
  color: var(--color-dark-xl);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0px;
}

/* our friends */
.container-our-friends {
  background-color: var(--color-light-l);
  padding: 45px 45px 95px 45px;
  max-width: 1200px;
}
.container-our-friends h3 {
  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  text-align: center;
}
.container-our-friends button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  width: 261px;
  height: 52px;
  background-color: var(--color-primary);
  cursor: pointer;
  margin: 0px 470px;
}
.arrow {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  width: 52px;
  height: 52px;
  cursor: pointer;
  margin: 190px 0;
}
.arrow img {
  margin: 23px 19px;
}
.container-cards {
  max-width: 1200px;
  display: grid;
  color: var(--color-dark-l);
  grid-template-columns: 52px 60px 270px 90px 270px 90px 270px 40px 52px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  border-radius: 9px;
  text-align: center;
  margin: 60px 0;
}
.container-cards button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  width: 187px;
  height: 52px;
  font-size: 17px;
  background-color: var(--color-light-s);
  margin: 10px 30px;
}
.card {
  background-color: var(--color-light-s);
  width: 270px;
  height: 435px;
}

/* help */
.container-help {
  background-color: var(--color-light-xl);
  padding: 80px 40px;
  height: 611px;
  text-align: center;
}

.container-help h3 {
  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  margin: 0 auto;
}
.container-help h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.container-help-items {
  margin: 60px 87px 0px 87px;
  color: var(--color-dark-l);
  max-width: 1026px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 55px;
}
.cont-help-line1 {
  display: grid;
  height: 113px;
  margin: 0;
  grid-template-columns: 82px 150px 60px 153px 101px;
  gap: 120px;
}
.cont-help-line2 {
  height: 113px;
  display: grid;
  gap: 120px;
  grid-template-columns: 84px 101px 165px 143px;
  padding: 0 84px;
}

/* addition */
.container-in-addition {
  min-height: 462px;
  background-color: var(--color-light-l);
}
.cont-in-add-content {
  display: grid;
  gap: 30px;
  max-width: 915px;
  height: 282px;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 180px;
}
.cont-in-add-content :nth-child(1) {
  align-self: center;
  /* margin-top: 40px; */
}
.container-in-addition h3 {
  color: var(--color-dark-l);
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  margin: 35px 0 0 0;
}
.card-number {
  background-color: var(--color-primary);
  border-radius: 9px;
  margin: 0;
  width: 349px;
  height: 43px;
}
.card-number h4 {
  color: var(--color-dark-l);
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 0 0;
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: space-around;
}
.container-in-addition h5 {
  color: var(--color-dark-l);
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  width: 307px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.container-in-addition p {
  color: var(--color-dark-m);
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  width: 380px;
  height: 72px;
  margin: 20px 0 0 0;
}

/* footer */
footer {
  background-image: url("/shelter/img/footer-gradient-background.png");
}
.contacts {
  display: grid;
  grid-template-rows: auto;
  gap: 40px;
  height: 234px;
}
.footer-cont {
  padding: 40px 40px 0px 40px;
  display: grid;
  gap: 160px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.footer-cont h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: var(--color-light-xl);
  margin: 0;
}
.footer-cont h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 6%;
  color: var(--color-primary);
  /* padding-top: 40px; */
  margin: 0;
}

/* pets */
